<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <main class="flex flex-column align-center w-50 m-auto p-4">
        <h1>Iniciar sesión</h1>
        <section th:if="${error}" class="w-full">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${error}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </section>
        <form class="flex flex-column gap-4 w-full" th:action="@{/auth/login}" action="/login" method="post">
            <div>
                <label class="form-label" for="correo">Correo electrónico</label>
                <input class="form-control" type="email" th:name="correo" id="correo" placeholder="juan.perez@ejemplo.com" required>
            </div>
            <div>
                <label class="form-label" for="password">Contraseña</label>
                <input class="form-control" type="password" th:name="password" id="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Acceder</button>
            <a th:href="@{/auth/registrar}">Registrar empleado</a>
        </form>
    </main>
</body>
</html>